# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# Next.js build outputs
/.next/
/out/

# Production build
/build

# Miscellaneous
.DS_Store
*.pem
*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Local environment variables
.env.local
.env.development.local
.env.test.local
.env.production.local

# Vercel
.vercel

# TypeScript cache
*.tsbuildinfo
next-env.d.ts

# Firebase Studio
.idx/
