# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
/node_modules
/.pnp
.pnp.js

# Build artifacts
/.next/
/out/
/build

# Vercel (and other hosting providers)
/.vercel

# Firebase
.firebase
database-debug.log
firestore-debug.log
storage-debug.log
firebase-debug.log

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Local environment variables
.env
.env*.local

# IDE-specific
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea
.DS_Store

# Misc
*.pem

# Firebase Studio
.idx
*.log