rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Allow users to read and write their own user document
    match /users/{userId} {
      allow read, update, delete: if request.auth != null && request.auth.uid == userId;
      allow create: if request.auth != null;
    }

    // Allow anyone to create a team
    match /teams/{teamId} {
      allow create;
    }

    // Allow anyone to submit a sponsorship application
    match /sponsorshipApplications/{applicationId} {
      allow create;
    }

    // Other collections are locked down by default
  }
}
